<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677824116708-69j6e8juql7d56cqshfqvkqepok9rtea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677824116708-69j6e8juql7d56cqshfqvkqepok9rtea</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>677824116708-2ba7fo377vqtgiv3vcijqjjvb8a3j4ni.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDeipG84btaWudYI8OV5GMlS015vkVXZF4</string>
	<key>GCM_SENDER_ID</key>
	<string>677824116708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-2497c</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-2497c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677824116708:ios:381049143282f0109bf9f1</string>
</dict>
</plist>